[Unit]
Description=Gunicorn for Django TrainForge
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/djangoapps/trainforge
EnvironmentFile=/var/www/djangoapps/trainforge/trainforge/.env

ExecStart=/var/www/djangoapps/trainforge/venv/bin/gunicorn \
          --reload \
          --workers 2 \
          --bind 127.0.0.1:8002 \
          trainforge.wsgi:application

Restart=always

[Install]
WantedBy=multi-user.target
